<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo laudantium, consequuntur harum et repellat rem iusto id, corrupti error voluptas unde. Quia velit cupiditate culpa impedit placeat aliquam porro odio.</p>
    <form action="/abc" method="post">
        <label for="">name</label>
        <input type="text" name="name" id="">
        <label for="">age</label>
        <input type="text" name="age" id="">
        <input type="submit" name="submit" id="">
    </form>
    <br>
    <a href="/people">people</a>
</body>
</html>